name: Actions Workflow
on:
  push:
    branches:
      - master
      - "feature/*" #feature/Test
      - "feature/**" #feature/Test/Test
    tags:
      - v1.*
    paths:
      - "**.js"
jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: List Files
        run: |
          pwd
          ls -a
      - name: Echo Env Variables
        run: |
          echo $GITHUB_SHA
          echo $GITHUB_REPOSITORY
          echo $GITHUB_WORKSPACE
          echo "${{github.token}}"
      - name: greet
        id: greet
        uses: actions/hello-world-javascript-action@main
        with:
          who-to-greet: John
      - name: Log Greeting Time
        run: echo "${{join(steps.greet.outputs.*, '\n')}}"
